{% load django_bootstrap5 %}
{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Minha Aplicação Django{% endblock %}</title>
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% block head_extra %}{% endblock %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>
<body class="d-flex flex-column min-vh-100">
    <!-- Header padrão -->
    <header class="bg-dark text-white p-3">
        <div class="container d-flex justify-content-between align-items-center">
            <h1>Django</h1>
            <nav>
                <a href="/" class="btn btn-outline-light btn-sm me-2">Home</a>
                <a href="/produto/" class="btn btn-outline-light btn-sm me-2">Produto</a>
                <a href="/contato/" class="btn btn-outline-light btn-sm">Contato</a>
                <a href="/admin/" class="btn btn-outline-light btn-sm">Admin</a>
            </nav>
        </div>
    </header>

    <!-- Conteúdo específico da página -->
    <main class="container py-4  flex-grow-1">
        {% block content %}{% endblock %}
    </main>

    <!-- Rodapé -->
    <footer class="bg-light text-center py-3">
        © {% now "Y" %} Minha Aplicação
    </footer>
</body>
</html>
